.myPanel{
	border: 1px solid #68706D;
	border-radius: 5px 5px 0 0;
	margin: 3%;
	box-shadow: 0px 0px 4px #ccc;
	
}

.myPanel .heading{
	background: #4285f4;
	border: 1px solid #2B5F70;
	border-radius: 5px 5px 0 0;
	padding: 10px 20px;
	color:#2B5F70;
}

.myPanel:hover .body {
	padding: 10px 20px !important;

}
 
.myPanel .showOnHoover {
	display: none;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px #666;
	border: 2px solid #68706D;
}
 

.myPanel:hover .showOnHoover {
	display: inline-block !important;
}
p {
	color: white;
}